<div class="drop__dropped">
  <%= image_tag image, class:"drop__image" %>
  <ul class="drop__list">
    <li><button id="imageEdit">編集</button></li>
    <li><button id="imageDelete">削除</button></li>
  </ul>
</div>
