<div class="drop__dropped">
  <%= image_tag img, class:"drop__image" %>
  <ul class="drop__list">
    <li><label id="editImg">編集</label></li>
    <li><label id="deleteImg">削除</label></li>
  </ul>
</div>
