<li class="item">
  <a>
    <img src="https://static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png">
    <div class="item__info">
      <span>こんなに便利になりました！</span>
      <span class="item__time">🕗19時間前</span>
    </div>
  </a>
</li>
