<div class="user-header">
  <div class="user-header__info">
    <figure></figure>
    <span class="user-header__name">
      <%= @user.email %>
    </span>
    <div class="now">
      <span>評価  <b>0</b></span>
      <span>出品数  <b>0</b></span>
    </div>
  </div>
</div>
