<h2>Log in way</h2>
<div class="show-item">
  <div class="login">
    <div class="registration-container">
      <div  class="form__container">
        <header>会員情報入力</header>
      </div>
      <div class="form__container">
        <ul>
          <li class="mail">
            <%= link_to "メールアドレスで登録", new_registration_path(@user) %>
          </li>
          <li class="facebook"><a href="#">Facebookで登録</a></li>
          <li class="google"><a href="#">Googleで登録</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
