<nav class="nav-bar">
  <div class="nav-bar__top">
    <h1>メルカリ</h1>
    <form>
      <input class="search-bar" placeholder="キーワードから探す">
      <button><i class="fas fa-search"></i></button>
    </form>
  </div>
  <div class="nav-bar__below">
    <ul class="left-bar">
      <li>
        <a>
          カテゴリーから探す
        </a>
      </li>
      <li>
        <a>
          ブランドから探す
        </a>
      </li>
    </ul>

    <ul class="right-bar">
      <li>
        <i class="far fa-user"></i>
      </li>
      <li>
        <i class="far fa-bell"></i> 99+ お知らせ
      </li>
      <li>
        <i class="fas fa-check"></i> やることリスト
      </li>
    </ul>
  </div>
</nav>
