<nav class="nav-bar">
  <div class="nav-bar__top">
    <h1>メルカリ</h1>
    <form>
      <input class="search-bar" placeholder="キーワードから探す">
      <button>◇</button>
    </form>
  </div>
  <div class="nav-bar__below">
    <ul class="left-bar">
      <li>
        <a>
          カテゴリーから探す
        </a>
      </li>
      <li>
        <a>
          ブランドから探す
        </a>
      </li>
    </ul>

    <ul class="right-bar">
      <li>
        ⬜︎
      </li>
      <li>
        ⬜︎ 99+ お知らせ
      </li>
      <li>
        ⬜︎ やることリスト
      </li>
    </ul>
  </div>
</nav>
