.bread-crumbs{
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  width: 100vw;
  margin-bottom: 5px;
  ul{
    width: 700px;
    margin: 0 auto;
    background-color:white;
    padding: 17px 0 16px;
    white-space: normal;
    @media (min-width: 1200px){
      width: 1020px;
    }
    li{
      display: inline-block;
      font-size: 14px;
      line-height: 1.2;
    }
    i{
      margin: 0 8px;
      font-size: 9px;
      color: #888;
    }
    a{
      color: #333;
    }
  }
}
