<div class="items-box">

<section class="item-box" style="background-color:#fef;">
  <a href="#">
    <img src="https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m91179566795_1.jpg?1545027032" width="213px" height="213px">
    <div class="item-box__info">
      <h3>item name item Name item Name item Name item Name </h3>
      <div class="clearfix">
        <div class="price">$2,000</div>
        <div class="icon">♡1</div>
      </div>
      <div class="tax">税込</div>
    </div>
  </a>
</section>

</div>
